<div id="about" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.about.title %>
      </h1>
      <p>
        <%= data.info.about.desc %>
      </p>
    </div>
    <div id="workers-silhouette"></div>
    <div id="about-info">
      <ul>
        <% data.info.about.infos.each do |info| %>
        <li>
          <h5><%= info.title %></h5>
          <p><%= info.desc %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>