<div id="about" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.about.title %>
      </h1>
      <p>
        <%= data.info.about.desc %>
      </p>
    </div>
    <div id="workers-silhouette"></div>
    <div id="about-info">
      <ul>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
        <li> <h5>4382</h5> <p>Homens trabalharam na durante todo o período da obra do estádio.</p> </li>
      </ul>
    </div>
  </div>
</div>