<div id="comparative" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.comparative.title %>
      </h1>
      <p>
        <%= data.info.comparative.desc %>
      </p>
    </div>
    <div id="stadiuns">
      <div id="stadiuns-text">Veja o comparativo de números entre alguns estádios brasileiros:</div>
      <ul id="stadiuns-list">
        <li id="stadium-arena-corinthians">Arena Corinthians</li>
        <li id="stadium-pacaembu">Pacaembu</li>
        <li id="stadium-maracana">Maracanã</li>
        <li id="stadium-morumbi">Morumbi</li>
        <li id="stadium-alianz-arena">Alianz Arena</li>
      </ul>
    </div>
    <table id="comparative-table" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th>Arena Corinthians</th>
          <th>Pacaembu</th>
          <th>Maracanã</th>
          <th>Morumbi</th>
          <th>Alianz Arena</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Capacidade</th>
          <td>65 mil pessoas (Copa)</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
        </tr>
        <tr>
          <th>Área construída</th>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
        </tr>
        <tr>
          <th>Área construída</th>
          <td>130 km</td>
          <td>130 km</td>
          <td>130 km</td>
          <td>130 km</td>
          <td>130 km</td>
        </tr>
        <tr>
          <th>Área construída</th>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
          <td>40x20 metros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>