<div id="controversies" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.controversies.title %>
      </h1>
      <p>
        <%= data.info.controversies.desc %>
      </p>
    </div>
    <ul id="controversies-info">
      <li><h4>Acidentes</h4><p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite.</p></li>
      <li><h4>Os custos da obra</h4><p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite.</p></li>
      <li><h4>Mais um detalhe</h4><p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite.</p></li>
      <li><h4>Mais um detalhe</h4><p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o nosso limite.</p></li>
    </ul>
    <div id="controversies-money">
      <h3>De onde veio essa grana?</h3>
      <ul>
        <li>
          <div>
            <b>21%</b>
            R$ 320.233,00
          </div>
          Pagos pelo BNDS
        </li>
        <li>
          <div>
            <b>32%</b>
            R$ 520.233,00
          </div>
          Pagos pelo Corinthians
        </li>
        <li>
          <div>
            <b>47%</b>
            R$ 320.233,00
          </div>
          Financiados pela Caixa
        </li>
      </ul>
    </div>
    <div id="controversies-info2">
      <h3>O que poderia ser feito?</h3>
      <ul>
        <li><b>820</b> aparelhos de raio-x</li>
        <li><b>400</b> escolas infantis</li>
        <li><b>40km</b> corredores de onibus</li>
        <li><b>16</b> hospitais</li>
        <li><b>10.500</b> casas populares</li>
      </ul>
    </div>
  </div>
</div>