<div id="controversies" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.controversies.title %>
      </h1>
      <p>
        <%= data.info.controversies.desc %>
      </p>
    </div>
  </div>
</div>