<div id="curiosities" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.curiosities.title %>
      </h1>
      <p>
        <%= data.info.curiosities.desc %>
      </p>
    </div>
    <div id="curiosities-image"></div>
    <ul id="curiosities-info">
      <% data.info.curiosities.infos.each do |info| %>
        <li>
          <h5><%= info.title %></h5>
          <p><%= info.desc %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>