<div id="curiosities" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.curiosities.title %>
      </h1>
      <p>
        <%= data.info.curiosities.desc %>
      </p>
    </div>
    <div id="curiosities-image"></div>
    <ul id="curiosities-info">
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
      <li>
        <h5>Acidentes</h5>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres todos os novos estímulos 3 linhas e respeite o limite.</p>
      </li>
    </ul>
  </div>
</div>