<div id="field" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.vote.title %>
      </h1>
      <p>
        <%= data.info.vote.desc %>
      </p>
    </div>
    <div id="field-image"></div>
    <ul id="field-info">
      <li>
        <h4>Gramado</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>Substrato</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>Drenagem</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>Escoamento</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>Saibro</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>Resfriamento</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
    </ul>

  </div>
</div>