<div id="numbers" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.numbers.title %>
      </h1>
      <p>
        <%= data.info.numbers.desc %>
      </p>
    </div>
    <div id="numbers-image"></div>
    <ul id="numbers-info">
      <li><b>198.000m</b> de área total</li>
      <li><b>1840</b> vagas descobertas</li>
      <li><b>198.000m</b> de área total</li>
      <li><b>189.000m</b> de área construída</li>
      <li><b>990</b> vagas cobertas</li>
      <li><b>189.000m</b> de área construída</li>
      <li><b>96</b> camarotes</li>
      <li><b>96</b> camarotes</li>
      <li><b>96</b> camarotes</li>
      <li><b>15</b> áreas VIP</li>
      <li><b>15</b> áreas VIP</li>
      <li><b>15</b> áreas VIP</li>
    </ul>
  </div>
</div>