<div id="screen" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.screen.title %>
      </h1>
      <p>
        <%= data.info.screen.desc %>
      </p>
    </div>
    <div id="screen-image"></div>
    <div id="screen-title">
      <h3>UM PEQUENO GRANDE DETALHE</h3>
      <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite todo o nosso limite de caracteres estipulado.. Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite todo o nosso limite de caracteres estipulado.. </p>
    </div>
    <div id="screen-schema"></div>
    <div id="screen-infos">
      <ul>
        <li>
          <h4>3580 leds</h4>
          <p>compôes a extensão do painel que mede cerca de 180x20 metros.</p>
        </li>
        <li>
          <h4>3580 leds</h4>
          <p>compôes a extensão do painel que mede cerca de 180x20 metros.</p>
        </li>
        <li>
          <h4>3580 leds</h4>
          <p>compôes a extensão do painel que mede cerca de 180x20 metros.</p>
        </li>
      </ul>
    </div>
  </div>
</div>