<div id="screen" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.screen.title %>
      </h1>
      <p>
        <%= data.info.screen.desc %>
      </p>
    </div>
  </div>
</div>