<div id="share-area" class="section">
  <div class="container">
    <div id="share">
      <h5><%= data.info.all.share %></h5>
      <ul>
        <li id="share-fb"><a href="#fb">Facebook</a></li>
        <li id="share-tt"><a href="#tt">Twitter</a></li>
        <li id="share-gp"><a href="#gp">Google+</a></li>
      </ul>
    </div>
  </div>
</div>