<div id="start" class="section">
  <div class="container">
    <div class="title animated slideInLeft">
      <h1>
        <%= data.info.start.title %>
      </h1>
      <p>
        <%= data.info.start.desc %>
      </p>
    </div>
    <div id="arena-corinthians-oeste" class="arena-hover"></div>
    <div id="arena-corinthians-leste" class="arena-hover"></div>
    <ul id="pontos" class="animated fadeIn">
      <li id="ponto-1"><span>Camarotes</span></li>
      <li id="ponto-2"><span>Camarotes</span></li>
      <li id="ponto-3"><span>Camarotes</span></li>
      <li id="ponto-4"><span>Camarotes</span></li>
      <li id="ponto-5"><span>Camarotes</span></li>
      <li id="ponto-6"><span>Camarotes</span></li>
      <li id="ponto-7"><span>Camarotes</span></li>
      <li id="ponto-8"><span>Camarotes</span></li>
      <li id="ponto-9"><span>Camarotes</span></li>
    </ul>
    <div id="menu" class="animated slideInRight">
      <ul>
      <% data.info.start.menu.each do |menu| %>
        <li>
          <a href="#">
            <%= menu.title %>
            <span>
              <%= menu.desc %>
            </span>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>