<div id="vote" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.vote.title %>
      </h1>
      <p>
        <%= data.info.vote.desc %>
      </p>
    </div>
    <ul id="rating">
      <li>
        <a href="#">1</a>
        <b>21%</b>
        4334 votos
      </li>
      <li>
        <a href="#">2</a>
        <b>21%</b>
        4334 votos
      </li>
      <li>
        <a href="#">3</a>
        <b>21%</b>
        4334 votos
      </li>
      <li>
        <a href="#">4</a>
        <b>21%</b>
        4334 votos
      </li>
      <li>
        <a href="#">5</a>
        <b>21%</b>
        4334 votos
      </li>
    </ul>
    <button type="button" class="all-back"><%= data.info.all.back %></button>
  </div>
</div>