<div id="west_building" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.west_building.title %>
      </h1>
      <p>
        <%= data.info.west_building.desc %>
      </p>
    </div>
    <div id="west_building-cut"></div>
    <ul id="west_building-info" class="list-info">
      <% data.info.west_building.infos.each do |info| %>
      <li>
        <h4><%= info.title %></h4>
        <p><%= info.desc %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>