<div id="west_building" class="section">
  <div class="container">
    <div class="title">
      <h1>
        <%= data.info.west_building.title %>
      </h1>
      <p>
        <%= data.info.west_building.desc %>
      </p>
    </div>
    <div id="west_building-cut"></div>
    <ul id="west_building-info" class="list-info">
      <li>
        <h4>1.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>2.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>3.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>4.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>5.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
      <li>
        <h4>6.Cobertura</h4>
        <p>Um texto falando sobre a cobertura, que ocupe apenas 3 linhas e respeite o nosso limite de caracteres estipulado.</p>
      </li>
    </ul>
  </div>
</div>