#east_building
  background-image: url("../images/arena-corinthians/layout/east_building.png")
  background-color: #fff
  background-position: center top
  height: 700px
  width: 1200px
  .title
    position: absolute
    top: 63px
    left: 14px
    letter-spacing: -2px
    width: 550px
    color: red
    h1
      font-family: Museo500Regular
      text-transform: uppercase
      font-size: 48px
    p
      font-family: Museo300Regular
      font-size: 24px
      letter-spacing: .8px
      line-height: 26px
