@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic)

body
  +font-smoothing(antialiased)
  background-color: #fff
  font-size: 15px
  padding: 0
  font-family: 'Lato', sans-serif

.section
  position: relative

#infographic
  width: 100%

  .section
    background-color: #fff
    background-position: center top
    background-repeat: no-repeat

  .container
    height: 700px
    margin: 0 auto
    max-width: 1200px
    outline: 1px solid red
    padding: 60px 10px
    position: relative

  .title
    position: absolute
    top: 57px
    left: 15px
    width: $column * 10
    h1
      font-family: Museo500Regular
      text-transform: uppercase
      font-size: 48px
      line-height: 47px
      letter-spacing: -1px
      color: $color-black
    p
      font-family: Museo300Regular
      font-size: 24px
      color: red
      letter-spacing: -.2px
      line-height: 28px
      color: $color-black


