#start
  // background-image: url("../images/arena-corinthians/layout/start.png")
  background-image: url("../images/arena-corinthians/start/arena-corinthians.png")
  background-color: #fff

  .title
    h1
      color: $color-purple
    p
      color: $color-black

  .arena-hover
    +single-transition(all, .2s, linear)
    position: absolute
    opacity: 0
    cursor: pointer
    &:hover
      opacity: 1

  #arena-corinthians-leste
    +size(598px, 315px)
    background-image: url("../images/arena-corinthians/start/arena-corinthians-leste-hover.png")
    top: 226px
    left: 101px

  #arena-corinthians-oeste
    +size(632px, 261px)
    background-image: url("../images/arena-corinthians/start/arena-corinthians-oeste-hover.png")
    top: 166px
    left: 466px

  #pontos
    li
      +circle(30px)
      +animation(pulse-point 3s infinite)
      +box-shadow(0 0 3px #ccc)
      list-style: none
      background-color: rgba(255, 255, 255, .5)
      position: absolute
      cursor: pointer
      z-index: 1
      &:before
        +circle(14px)
        +single-transition(all, .1s, linear)
        position: absolute
        top: 8px
        left: 8px
        content: ""
        background-color: $color-purple
      &#ponto-1
        top: 505px
        left: 155px
      &#ponto-2
        top: 393px
        left: 285px
      &#ponto-3
        top: 312px
        left: 385px
      &#ponto-4
        top: 299px
        left: 631px
      &#ponto-5
        top: 415px
        left: 624px
      &#ponto-6
        top: 281px
        left: 685px
      &#ponto-7
        top: 366px
        left: 685px
      &#ponto-8
        top: 374px
        left: 835px
      &#ponto-9
        top: 205px
        left: 1035px
      &:hover
        +box-shadow(0 0 3px #aaa)
        +animation(pulse-point .5s infinite)
        z-index: 2
        &:before
          +circle(18px)
          top: 6px
          left: 6px
        span
          opacity: 1
          top: -51px
          display: block
      span
        +single-transition(all, .2s, linear)
        opacity: 0
        background: $color-purple
        text-transform: uppercase
        font-size: 18px
        color: #fff
        position: absolute
        // top: -51px
        top: -41px
        left: -200%
        line-height: 32px
        padding: 0 30px
        border-radius: 6px
        display: none
        &:before
          +square(0)
          content: ""
          font-family: Museo500Regular
          border: 10px solid transparent
          border-color: $color-purple transparent transparent transparent
          position: absolute
          left: calc(50% - 20px)
          bottom: -20px

  #menu
    text-transform: uppercase
    font-size: 28px
    position: absolute
    top: 560px
    left: 15px
    width: 100%
    text-align: center
    font-family: Museo700Regular
    ul
      list-style: none
    li
      display: block
      width: ($column * 3) - $gutter
      margin-right: $gutter
      height: 80px
      position: relative
      float: left
      &:hover
        &:before
          color: $color-purple
          left: 10px
        &:after
          color: $color-purple
          right: 10px
      &:before
        +single-transition(all, .2s, linear)
        content: "{"
        font-size: 96px
        position: absolute
        top: -8px
        left: 0px
        color: $color-gray-light
      &:after
        +single-transition(all, .2s, linear)
        content: "}"
        font-size: 96px
        position: absolute
        top: -8px
        right: 0px
        color: $color-gray-light
    a
      display: block
      text-decoration: none
      padding-top: 16px
      color: $color-purple
    span
      display: block
      font-size: 18px
      color: $color-gray
