---
title: Escale a sua seleção
---
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({appId: '293194120847793', status: true, cookie: true,
xfbml: true});
};
(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
</script>

<div id="infographic">
  <%= partial "start" %>
  <%= partial "players" %>
</div>