
<footer class="main-footer" role="contentinfo">
  <div class="wrapper">
    <nav class="upper-footer">
      <ul class="department-links">
        <li><a href="http://espn.com">ESPN.com</a></li>
        <li><a href="http://espndeportes.espn.go.com/">ESPN Desportes</a></li>
        <li><a href="/expn">EXPN</a></li>
      </ul>
      <ul>
        <li><a href="/aplicativos">Aplicativos</a></li>
        <li><a href="/ondeassistir">Onde Assistir</a></li>
        <li><a href="http://contenti1.espn.com.br/ancine/GradeAncineTODOS.xml">Programação Detalhada</a></li>
      </ul>
    </nav>
    </div>

    <div class="wrapper">
    <div>
      <ul class="social-links">
        <li><a class="google-link" href="http://plus.google.com/+ESPN">Google+</a></li>
        <li><a class="facebook-link" href="http://www.facebook.com/mundoespn">Facebook</a></li>
        <li><a class="twitter-link" href="http://www.twitter.com/espnagora">Twitter</a></li>
        <li><a class="rss-link" href="http://espn.uol.com.br/old/template/fe/rss.jsp?height=320&amp;width=660">RSS</a></li>
      </ul>
      <nav class="footer-main-links">
        <ul>
          <li><a href="/" class="logo"><img alt="Logo" src="http://content.espn.com.br/image/logo.png" /></a></li>
          <li><a href="/quemsomos">Quem Somos</a></li>
          <li><a href="/trabalheconosco">Trabalhe Conosco</a></li>
          <li><a href="/assine">Assine</a></li>
          <li><a href="/anuncie">Anuncie</a></li>
        </ul>
        <div class="site-politics">
          <p class="copyright">
            <span>&copy; copyright ESPN do Brasil</span>
            <span>Todos os direitos reservados</span>
          </p>
          <ul>
            <li><a href="http://www.disney.com.br/politicasdeprivacidade">Política de privacidade</a></li>
            <li><a href="http://www.disney.com.br/termos">Termos de uso</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
