

<div id="uol_header">
  <script src="http://jsuol.com/barra/parceiro-res.js?parceiro=ESPN"></script>
</div>

<header id="main_header" ng-app>
<div>
  <div id="header_navigation">
  <div>
    <span id="logo">
      <a href="http://espn.uol.com.br/"><img alt="ESPN.com.br" src="http://content.espn.com.br/image/logo.png" /></a>
    </span>

    <form id="main_search" method="GET" action="http://espn.uol.com.br/search/index.action">
    <div>
      <input type="q" name="search">
      <button type="submit">Buscar</button>
    </div>
    </form>

    <nav id="main_navigation">
    <div>
      <ul>
        <li>
          <h1><span>Futebol</span></h1>
          <ul>
            <li><a href="http://www.bolaoespn.com.br" class="special" title="Bolão ESPN">Bolão ESPN</a></li>
            <li><a href="http://espn.uol.com.br/copadomundo" title="Copa do Mundo">Copa do Mundo</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2014/brasileiro" title="Brasileiro Série A">Brasileiro Série A</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2014/serieb" title="Brasileiro Série B">Brasileiro Série B</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2014/copadobrasil" title="Copa do Brasil">Copa do Brasil</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2014/libertadores" title="Copa Libertadores">Copa Libertadores</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/championsleague" title="Uefa Champions League">Uefa Champions League</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/europaleague" title="Liga Europa">Liga Europa</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/alemao" title="Campeonato Alemão">Campeonato Alemão</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/espanhol" title="Campeonato Espanhol">Campeonato Espanhol</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/frances" title="Campeonato Francês">Campeonato Francês</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/ingles" title="Campeonato Inglês">Campeonato Inglês</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/italiano" title="Campeonato Italiano">Campeonato Italiano</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/seriec" title="Brasileiro Série C">Brasileiro Série C</a></li>
            <li><a href="http://espn.uol.com.br/campeonatos/2013/seried" title="Brasileiro Série D">Brasileiro Série D</a></li>
            <li><a href="http://espn.uol.com.br/competicao/internacional/argentino" title="Campeonato Argentino">Campeonato Argentino </a></li>
            <li><a href="http://espn.uol.com.br/modalidade/copadobrasilsub20" title="Copa do Brasil Sub-20">Copa do Brasil Sub-20</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/copadobrasilsub17" title="Copa do Brasil Sub-17">Copa do Brasil Sub-17</a></li>
            <li><a href="http://espn.uol.com.br/time/selecaobrasileira" title="Seleção Brasileira">Seleção Brasileira</a></li>
            <li><a href="http://espn.uol.com.br/noticia/375206_mercado-da-bola-veja-as-principais-transferencias-do-futebol-nacional" title="Mercado da Bola (NAC)">Mercado da Bola (NAC)</a></li>
            <li><a href="http://espn.uol.com.br/noticia/339362_mercado-da-bola-veja-as-principais-transferencias-do-futebol-internacional" title="Mercado da Bola (INT)">Mercado da Bola (INT)</a></li>
          </ul>
        </li>
        <li><h1><a href="http://espn.uol.com.br/modalidade/nfl" title="NFL">NFL</a></h1></li>
        <li><h1><a href="http://espn.uol.com.br/modalidade/nba" title="NBA">NBA</a></h1></li>
        <li><h1><a href="http://espn.uol.com.br/modalidade/tenis" title="Tênis">Tênis</a></h1></li>
        <li>
          <h1><span>+Esportes</span></h1>
          <ul>
            <li><a href="http://espn.uol.com.br/modalidade/atletismo" title="Atletismo">Atletismo</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/automobilismo" title="Automobilismo">Automobilismo / F1</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/beisebol" title="Beisebol / MLB">Beisebol / MLB</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/golfe" title="Golfe">Golfe</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/lutas" title="Lutas / MMA">Lutas / MMA</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/volei" title="Vôlei">Vôlei</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/basquete" title="Basquete">Basquete</a></li>
            <li><a href="http://espn.uol.com.br/xgames" title="Radicais / XGAMES">Radicais / XGAMES</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/natacao" title="Natação">Natação</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/nhl" title="Hóquei no gelo / NHL">Hóquei no gelo / NHL</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/futsal" title="Futsal">Futsal</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/judo" title="Judô">Judô</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/bikeelegal" title="Bike é Legal">Bike é Legal</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/rugby" title="Rugby">Rugby</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/ciclismo" title="Ciclismo">Ciclismo</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/vamoscorrer" title="Corrida de rua">Corrida de rua</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/hipismo" title="Hipismo">Hipismo</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/motovelocidade" title="Motovelocidade">Motovelocidade</a></li>
            <li><a href="http://espn.uol.com.br/modalidade/poker" title="Poker">Poker</a></li>
            <li><a href="http://espn.uol.com.br/dakar" title="Rally Dakar">Rally Dakar</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <h1><span>Blogs</span></h1>
          <ul>
            <li><a href="http://espn.uol.com.br/blogs/doistoques" title="Blog Dois Toques">Dois Toques</a></li>
            <li><a href="http://espn.uol.com.br/blogs/everaldomarques" title="Blog Everaldo Marques">Everaldo Marques</a></li>
            <li><a href="http://espn.uol.com.br/blogs/fernandomeligeni" title="Blog Fernando Meligeni">Fernando Meligeni</a></li>
            <li><a href="http://espn.uol.com.br/blogs/gianoddi" title="Blog Gian Oddi">Gian Oddi</a></li>
            <li><a href="http://espn.uol.com.br/blogs/gleidsonvenga" title="Blog Gleidson Venga">Gleidson Venga</a></li>
            <li><a href="http://espn.uol.com.br/blogs/gustavohofman" title="Blog Gustavo Hofman">Gustavo Hofman</a></li>
            <li><a href="http://espn.uol.com.br/blogs/joserobertomalia" title="Blog José Roberto Malia">José Roberto Malia</a></li>
            <li><a href="http://espn.uol.com.br/blogs/leonardobertozzi" title="Blog Leonardo Bertozzi">Leonardo Bertozzi</a></li>
            <li><a href="http://espn.uol.com.br/blogs/maurocezarpereira" title="Blog Mauro Cezar Pereira">Mauro Cezar Pereira</a></li>
            <li><a href="http://espn.uol.com.br/blogs/olhaisso" title="Blog Olha Isso">Olha Isso</a></li>
            <li><a href="http://espn.uol.com.br/blogs/olhotatico" title="Blog Olho Tático (André Rocha)">Olho Tático (André Rocha)</a></li>
            <li><a href="http://espn.uol.com.br/blogs/pauloviniciuscoelho" title="Blog Paulo Vinícius Coelho">Paulo Vinícius Coelho</a></li>
            <li><a href="http://espn.uol.com.br/blogs/arnaldoribeiro" title="Blog Arnaldo Ribeiro">Arnaldo Ribeiro</a></li>
            <li><a href="http://espn.uol.com.br/blogs/fernandofleury" title="Blog Fernando Fleury">Fernando Fleury</a></li>
            <li><a href="http://espn.uol.com.br/blogs/joaomaximo" title="Blog João Máximo">João Máximo</a></li>
            <li><a href="http://espn.uol.com.br/blogs/josetrajano" title="Blog José Trajano">José Trajano</a></li>
            <li><a href="http://espn.uol.com.br/blogs/kleverkolberg" title="Blog Klever Kolberg">Klever Kolberg</a></li>
            <li><a href="http://espn.uol.com.br/blogs/mauriciojahu" title="Blog Maurício Jahu">Maurício Jahu</a></li>
            <li><a href="http://espn.uol.com.br/blogs/paulocalcade" title="Blog Paulo Calçade">Paulo Calçade</a></li>
            <li><a href="http://espn.uol.com.br/blogs/rougetmaia" title="Blog Rouget Maia">Rouget Maia</a></li>
            <li><a href="http://espn.uol.com.br/blogs/thiagosimoes" title="Blog Thiago Simões">Thiago Simões</a></li>
            <li><a href="http://espn.uol.com.br/blogs/thiagoarantes" title="Blog Thiago Arantes">Thiago Arantes</a></li>
            <li><a href="http://espn.uol.com.br/blogs/pauloantunes" title="Blog Paulo Antunes">Paulo Antunes</a></li>

            <li><a href="http://espn.uol.com.br/blogs/salviospinola" title="Salvio Spinola">Salvio Spinola</a></li>
            <li><a href="http://espn.uol.com.br/blogs/formiga" title="Formiga">Formiga</a></li>
            <li><a href="http://espn.uol.com.br/blogs/renatafalzoni" title="Renata Falzoni">Renata Falzoni</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <h1><span>Programas</span></h1>
          <ul>
            <li><a href="http://espn.uol.com.br/programacao" class="special" title="Programação Completa">Programação</a></li>
            <li><a href="http://espn.uol.com.br/programa/antunadas" title="Antunadas">Antunadas</a></li>
            <li><a href="http://espn.uol.com.br/programa/batebola" title="Bate-Bola">Bate-Bola</a></li>
            <li><a href="http://espn.uol.com.br/programa/boladavez" title="Bola da Vez">Bola da Vez</a></li>
            <li><a href="http://espn.uol.com.br/programa/falaserio" title="Fala Sério!">Fala Sério!</a></li>
            <li><a href="http://espn.uol.com.br/programa/futebolnomundo" title="Futebol no Mundo">Futebol no Mundo</a></li>
            <li><a href="http://espn.uol.com.br/programa/jogolimpocomplihal" title="Jogo Limpo com Plihal">Jogo Limpo com Plihal</a></li>
            <li><a href="http://espn.uol.com.br/programa/linhadepasse" title="Linha de Passe">Linha de Passe</a></li>
            <li><a href="http://espn.uol.com.br/programa/memoria" title="Memória ESPN">Memória ESPN</a></li>
            <li><a href="http://espn.uol.com.br/programa/mmalivebrasil" title="MMA Live Brasil">MMA Live Brasil</a></li>
            <li><a href="http://espn.uol.com.br/programa/sorin" title="O olhar de Sorín">O olhar de Sorín</a></li>
            <li><a href="http://espn.uol.com.br/programa/sportscenter" title="Sportscenter">Sportscenter</a></li>
            <li><a href="http://espn.uol.com.br/programa/pergunteaopvc" title="Pergunte ao PVC">Pergunte ao PVC</a></li>
            <li><a href="http://espn.uol.com.br/programa/topsdasemana" title="Tops da Semana">Tops da Semana</a></li>
            <li><a href="http://espn.uol.com.br/programa/capitaisdofutebol" title="Capitais do Futebol">Capitais do Futebol</a></li>
            <li><a href="http://espn.uol.com.br/programa/entrandodefininho" title="Entrando de Fininho">Entrando de Fininho</a></li>
            <li><a href="http://espn.uol.com.br/programa/espnfilmes" title="ESPN Filmes">ESPN Filmes</a></li>
            <li><a href="http://espn.uol.com.br/programa/loucosporfutebol" title="Loucos por Futebol">Loucos por Futebol</a></li>
            <li><a href="http://espn.uol.com.br/programa/historiasdoesporte" title="Histórias do Esporte">Histórias do Esporte</a></li>
            <li><a href="http://espn.uol.com.br/programa/thebookisonthetable" title="The Book is On The Table">The Book is On The Table</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><h1><a href="http://espn.uol.com.br/videos" title="Vídeos">Vídeos</a></h1></li>
      </ul>
      <ul>
        <li><h1><a href="http://espn.uol.com.br/radio" title="Rádio">Rádio</a></h1></li>
        <li><h1><a href="http://watchespn.com.br">Watch</a></h1></li>
      </ul>
    </div>
    </nav>
  </div>
  </div>

  <section id="realtime" class="events-{{events.length}}" ng-controller="LiveEventsCtrl" data-real-time="http://espn-real-time.herokuapp.com" data-websocket="http://espn-game-cast-websocket.herokuapp.com" ng-cloak>
  <div>
    <h2>Tempo Real</h2>

    <div ng-show="events.length <= 6" ng-class="{'_tablet-shadow-at-right': events.length > 4}" class="events-{{events.length}} without-sub">
      <ul class="realtime_main">
        <li ng-repeat="event in events | orderBy:order" ng-include src="'live_event'"></li>
      </ul>
    </div>

    <div ng-show="events.length > 6" ng-class="{'_tablet-shadow-at-right': events.length > 4}" class="events-{{events.length}} with-sub">
      <ul class="realtime_main">
        <li ng-repeat="event in events.slice(0, 3) | orderBy:order" ng-include src="'live_event'"></li>
      </ul>
      <ul class="realtime_sub">
        <li ng-repeat="event in events.slice(3) | orderBy:order" ng-include src="'live_event'"></li>
      </ul>
    </div>
  </div>
  </section>

  <section id="teams">
  <div>
    <ul id="teams_class_selector">
      <li><a href="#team_class__seriea">Série A</a></li>
      <li><a href="#team_class__serieb">Série B</a></li>
      <li><a href="#team_class__europeu">Europeu</a></li>
    </ul>

    <div id="teams_classes">
      <div>
        <a name="team_class__seriea"></a>
        <ul>
          <li><h1><a href="/time/atleticomineiro" title="Atlético Mineiro"><img alt="Atlético Mineiro" src="http://content.espn.com.br/image/times/atleticomineiro.png" /></a></h1></li>
          <li><h1><a href="/time/atleticoparanaense" title="Atlético Paranaense"><img alt="Atlético Paranaense" src="http://content.espn.com.br/image/times/atleticoparanaense.png" /></a></h1></li>
          <li><h1><a href="/time/bahia" title="Bahia"><img alt="Bahia" src="http://content.espn.com.br/image/times/bahia.png" /></a></h1></li>
          <li><h1><a href="/time/botafogo" title="Botafogo"><img alt="Botafogo" src="http://content.espn.com.br/image/times/botafogo.png" /></a></h1></li>
          <li><h1><a href="/time/chapecoense" title="Chapecoense"><img alt="Chapecoense" src="http://content.espn.com.br/image/times/chapecoense.png" /></a></h1></li>
          <li><h1><a href="/time/corinthians" title="Corinthians"><img alt="Corinthians" src="http://content.espn.com.br/image/times/corinthians.png" /></a></h1></li>
          <li><h1><a href="/time/coritiba" title="Coritiba"><img alt="Coritiba" src="http://content.espn.com.br/image/times/coritiba.png" /></a></h1></li>
          <li><h1><a href="/time/criciuma" title="Criciúma"><img alt="Criciúma" src="http://content.espn.com.br/image/times/criciuma.png" /></a></h1></li>
          <li><h1><a href="/time/cruzeiro" title="Cruzeiro"><img alt="Cruzeiro" src="http://content.espn.com.br/image/times/cruzeiro.png" /></a></h1></li>
          <li><h1><a href="/time/figueirense" title="Figueirense"><img alt="Figueirense" src="http://content.espn.com.br/image/times/figueirense.png" /></a></h1></li>
          <li><h1><a href="/time/flamengo" title="Flamengo"><img alt="Flamengo" src="http://content.espn.com.br/image/times/flamengo.png" /></a></h1></li>
          <li><h1><a href="/time/fluminense" title="Fluminense"><img alt="Fluminense" src="http://content.espn.com.br/image/times/fluminense.png" /></a></h1></li>
          <li><h1><a href="/time/goias" title="Goiás"><img alt="Goiás" src="http://content.espn.com.br/image/times/goias.png" /></a></h1></li>
          <li><h1><a href="/time/gremio" title="Grêmio"><img alt="Grêmio" src="http://content.espn.com.br/image/times/gremio.png" /></a></h1></li>
          <li><h1><a href="/time/internacional" title="Internacional"><img alt="Internacional" src="http://content.espn.com.br/image/times/internacional.png" /></a></h1></li>
          <li><h1><a href="/time/palmeiras" title="Palmeiras"><img alt="Palmeiras" src="http://content.espn.com.br/image/times/palmeiras.png" /></a></h1></li>
          <li><h1><a href="/time/santos" title="Santos"><img alt="Santos" src="http://content.espn.com.br/image/times/santos.png" /></a></h1></li>
          <li><h1><a href="/time/saopaulo" title="São Paulo"><img alt="São Paulo" src="http://content.espn.com.br/image/times/saopaulo.png" /></a></h1></li>
          <li><h1><a href="/time/sport" title="Sport"><img alt="Sport" src="http://content.espn.com.br/image/times/sport.png" /></a></h1></li>
          <li><h1><a href="/time/vitoria" title="Vitória"><img alt="Vitória" src="http://content.espn.com.br/image/times/vitoria.png" /></a></h1></li>
        </ul>
      </div>
      <div>
        <a name="team_class__serieb"></a>
        <ul>
          <li><h1><a href="/time/abc" title="ABC"><img alt="ABC" src="http://content.espn.com.br/image/times/abc.png" /></a></h1></li>
          <li><h1><a href="/time/americamg" title="América Mineiro"><img alt="América Mineiro" src="http://content.espn.com.br/image/times/americamg.png" /></a></h1></li>
          <li><h1><a href="/time/americarn" title="América RN"><img alt="América RN" src="http://content.espn.com.br/image/times/americarn.png" /></a></h1></li>
          <li><h1><a href="/time/atleticogoianiense" title="Atlético Goianiense"><img alt="Atlético Goianiense" src="http://content.espn.com.br/image/times/atleticogoianiense.png" /></a></h1></li>
          <li><h1><a href="/time/avai" title="Avaí"><img alt="Avaí" src="http://content.espn.com.br/image/times/avai.png" /></a></h1></li>
          <li><h1><a href="/time/boa" title="Boa Esporte"><img alt="Boa Esporte" src="http://content.espn.com.br/image/times/boa.png" /></a></h1></li>
          <li><h1><a href="/time/bragantino" title="Bragantino"><img alt="Bragantino" src="http://content.espn.com.br/image/times/bragantino.png" /></a></h1></li>
          <li><h1><a href="/time/ceara" title="Ceará"><img alt="Ceará" src="http://content.espn.com.br/image/times/ceara.png" /></a></h1></li>
          <li><h1><a href="/time/icasa" title="Icasa"><img alt="Icasa" src="http://content.espn.com.br/image/times/icasa.png" /></a></h1></li>
          <li><h1><a href="/time/joinville" title="Joinville"><img alt="Joinville" src="http://content.espn.com.br/image/times/joinville.png" /></a></h1></li>
          <li><h1><a href="/time/luverdense" title="Luverdense"><img alt="Luverdense" src="http://content.espn.com.br/image/times/luverdense.png" /></a></h1></li>
          <li><h1><a href="/time/nautico" title="Náutico"><img alt="Náutico" src="http://content.espn.com.br/image/times/nautico.png" /></a></h1></li>
          <li><h1><a href="/time/oeste" title="Oeste"><img alt="Oeste" src="http://content.espn.com.br/image/times/oeste.png" /></a></h1></li>
          <li><h1><a href="/time/paranaclube" title="Paraná"><img alt="Paraná" src="http://content.espn.com.br/image/times/paranaclube.png" /></a></h1></li>
          <li><h1><a href="/time/pontepreta" title="Ponte Preta"><img alt="Ponte Preta" src="http://content.espn.com.br/image/times/pontepreta.png" /></a></h1></li>
          <li><h1><a href="/time/portuguesa" title="Portuguesa"><img alt="Portuguesa" src="http://content.espn.com.br/image/times/portuguesa.png" /></a></h1></li>
          <li><h1><a href="/time/sampaiocorrea" title="Sampaio Corrêa"><img alt="Sampaio Corrêa" src="http://content.espn.com.br/image/times/sampaiocorrea.png" /></a></h1></li>
          <li><h1><a href="/time/santacruz" title="Santa Cruz"><img alt="Santa Cruz" src="http://content.espn.com.br/image/times/santacruz.png" /></a></h1></li>
          <li><h1><a href="/time/vasco" title="Vasco"><img alt="Vasco" src="http://content.espn.com.br/image/times/vasco.png" /></a></h1></li>
          <li><h1><a href="/time/vilanova" title="Vila Nova"><img alt="Vila Nova" src="http://content.espn.com.br/image/times/vilanova.png" /></a></h1></li>
        </ul>
      </div>
      <div>
        <a name="team_class__europeu"></a>
        <ul>
          <li><h1><a href="/time/arsenal" title="Arsenal"><img alt="Arsenal" src="http://content.espn.com.br/image/times/arsenal.png" /></a></h1></li>
          <li><h1><a href="/time/atleticodemadri" title="Atlético de Madri"><img alt="Atlético de Madri" src="http://content.espn.com.br/image/times/atleticodemadri.png" /></a></h1></li>
          <li><h1><a href="/time/barcelona" title="Barcelona"><img alt="Barcelona" src="http://content.espn.com.br/image/times/barcelona.png" /></a></h1></li>
          <li><h1><a href="/time/bayerndemunique" title="Bayern de Munique"><img alt="Bayern de Munique" src="http://content.espn.com.br/image/times/bayerndemunique.png" /></a></h1></li>
          <li><h1><a href="/time/benfica" title="Benfica"><img alt="Benfica" src="http://content.espn.com.br/image/times/benfica.png" /></a></h1></li>
          <li><h1><a href="/time/borussiadortmund" title="Borussia Dortmund"><img alt="Borussia Dortmund" src="http://content.espn.com.br/image/times/borussiadortmund.png" /></a></h1></li>
          <li><h1><a href="/time/chelsea" title="Chelsea"><img alt="Chelsea" src="http://content.espn.com.br/image/times/chelsea.png" /></a></h1></li>
          <li><h1><a href="/time/internazionale" title="Internazionale"><img alt="Internazionale" src="http://content.espn.com.br/image/times/internazionale.png" /></a></h1></li>
          <li><h1><a href="/time/juventus" title="Juventus"><img alt="Juventus" src="http://content.espn.com.br/image/times/juventus.png" /></a></h1></li>
          <li><h1><a href="/time/lazio" title="Lazio"><img alt="Lazio" src="http://content.espn.com.br/image/times/lazio.png" /></a></h1></li>
          <li><h1><a href="/time/liverpool" title="Liverpool"><img alt="Liverpool" src="http://content.espn.com.br/image/times/liverpool.png" /></a></h1></li>
          <li><h1><a href="/time/tottenham" title="Tottenham"><img alt="Tottenham" src="http://content.espn.com.br/image/times/tottenham.png" /></a></h1></li>
          <li><h1><a href="/time/manchestercity" title="Manchester City"><img alt="Manchester City" src="http://content.espn.com.br/image/times/manchestercity.png" /></a></h1></li>
          <li><h1><a href="/time/manchesterunited" title="Manchester United"><img alt="Manchester United" src="http://content.espn.com.br/image/times/manchesterunited.png" /></a></h1></li>
          <li><h1><a href="/time/milan" title="Milan"><img alt="Milan" src="http://content.espn.com.br/image/times/milan.png" /></a></h1></li>
          <li><h1><a href="/time/napoli" title="Napoli"><img alt="Napoli" src="http://content.espn.com.br/image/times/napoli.png" /></a></h1></li>
          <li><h1><a href="/time/porto" title="Porto"><img alt="Porto" src="http://content.espn.com.br/image/times/porto.png" /></a></h1></li>
          <li><h1><a href="/time/parissaintgermain" title="Paris Saint Germain"><img alt="Paris Saint Germain" src="http://content.espn.com.br/image/times/parissaintgermain.png" /></a></h1></li>
          <li><h1><a href="/time/realmadrid" title="Real Madrid"><img alt="Real Madrid" src="http://content.espn.com.br/image/times/realmadrid.png" /></a></h1></li>
          <li><h1><a href="/time/roma" title="Roma"><img alt="Roma" src="http://content.espn.com.br/image/times/roma.png" /></a></h1></li>
        </ul>
      </div>
    </div>
  </div>
  </section>


  <script type="text/ng-template" id="live_event">
    <a href="http://espn.uol.com.br/temporeal/{{ event.foot_stats_id }}" data-championship-name="{{event.league}}">
      <span class="team">
        <img class="team_crest" ng-src="{{ event.teams[0].badge }}" />
        <span class="team_acronym">{{ event.teams[0].acronym.substring(0, 3) }}</span>
        <span class="team_name">{{ event.teams[0].name }}</span>
        <span class="team_score">{{ event.score[0] }}</span>
      </span>
      <span class="team">
        <img class="team_crest" ng-src="{{ event.teams[1].badge }}" />
        <span class="team_acronym">{{ event.teams[1].acronym.substring(0, 3) }}</span>
        <span class="team_name">{{ event.teams[1].name }}</span>
        <span class="team_score">{{ event.score[1] }}</span>
      </span>
    </a>

    <div class="realtime_details">
      <span class="championship_name" ng-if="event.league">{{ event.league }}</span>
      <span class="match_half" ng-if="event.period">{{ event.period }}</span>
      <div>
        <span class="team">
          <img class="team_crest" ng-src="{{ event.teams[0].badge }}" />
          <span class="team_name">{{ event.teams[0].name }}</span>
          <span class="team_score">{{ event.score[0] }}</span>
        </span>
        <span class="team">
          <img class="team_crest" ng-src="{{ event.teams[1].badge }}" />
          <span class="team_name">{{ event.teams[1].name }}</span>
          <span class="team_score">{{ event.score[1] }}</span>
        </span>
      </div>
    </div>
  </script>
</header>
